 *{padding:0;
margin:0;
text-decoration:none;
list-style:none;
font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
font-weight:normal;
font-size:14px;
color:#000;
}  
body{
	/* background-color:#EFF3F6; */
	background-color:#e3dad3;
}
/*  div{
	border:2px solid #ff0000;
}   */
#navico{
	display:none;
}
#page{
	/* background-color:#659c96;  */
	/* background-color:#025f41;  */
	  /* background-color:#EFF3F6;   */
	  
	    background-color:#e3dad3; 
	   	  position:absolute;
		  top:-28px;
	  /* background-color:#bb8f8b;  */
	 /* background-color:#8e8f8a;  */
	 /* background-color:#bbbfc3;  */
}
#header{
	text-align:center;
	background-color:#F51D34;
}
#header h1,p{
	display:inline-block;
}
#webt{
	font-style:italic;
	font-variant:;
	font-weight:bold;
	font-size:47px;
	line-height:;
	color:#EFF3F6;
	display:inline-block;
	padding:25px 0 25px 0;
	word-spacing:4px;
	letter-spacing:4px;
}
#webt:hover{
	word-spacing:12px;
	letter-spacing:12px;
	color:#fff;
}
#webd{
	font-style:;
	font-variant:;
	font-weight:;
	font-size:20px;
	line-height:;
	color:#EFF3F6;
}
#nav{

	/* background-color:#797d7b; */
	 /* background-color:#1b1f18;  */
	  /* background-color:#a3726d;  */
	    /* background-color:#eff3f6;   */
	     /* background-color:#c2101c;   */
		 background-color:#915232; 
		position:relative;
 }
#navu{
	width:100%;
	overflow:hidden;
}
#navu>li{
	float:left;
	
}

#navu>li:hover ul{
	display:block;
}
#searchform{
	position:absolute;
	top:0.7em;
	right:4em;
	/* background-color:#807f7b; */
	/* background-color:#929c9b; */
}
#s{
	width:8em;
	outline:0px;
		background-color:#EFF3F6;/* 背景色透明 */
 border:0px;       /* 边框取消 */
	 /* color:#dee3e2;  */
 color:#F51D34;	 
	 font-style:;
	font-variant:;
	font-weight:bold;
	font-size:19px;
			height:2em;
			line-height:2em;
			border:1px solid #F51D34;
			border-radius:4px;
}
#s:hover{
		/* background-color:#383a33; *//* 背景色透明 */
		background-color:#fdfdfd;
}
#searchsubmit{
/* 	 background-color:#383834; */  /* 背景色透明 */
	 background-color:#EFF3F6;  /* 背景色透明 */
 border:0px;       /* 边框取消 */
	 /* color:#dee3e2;    */
	  color:#F51D34;
	 font-style:;
	font-variant:;
	font-weight:bold;
	font-size:19px;
			height:2em;
			line-height:2em;
			padding:0 1em 0 1em;
			border:1px solid #F51D34;
			border-radius:4px;
}
#searchsubmit:hover{
/* 	 background-color:#26221c;  */ /* 背景色透明 */
background-color:#fdfdfd;
	font-weight:;
		cursor:pointer;
	cursor:hand;
}

#content{
	clear:left;
	float:left;
	width:78%;
background-color:#e3dad3;	

}
#sidebar{
	float:right;
	width:20%;

}

#dpage,#dtag,#blogrollnav,#dmeta,#dcomments,#drecent{
	margin-top:10px;
	background-color:#EFF3F6;	
}

#dpage a,#dtag a,#blogrollnav a,#dmeta a,#drecent a{
	display:inline-block;
	padding:0.2em;
	margin:0.2em;
	padding-left:0.8em;
	margin-left:0.8em;
	  color:#F51D34;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:13px;
}
.dcommenter{
	  color:#F51D34;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:13px;
	width:80%;
	margin:1em auto;
/* word-wrap:break-word; */
word-break:break-all;
}

#dcomments a{
	/* color:#626560; */
	/* color:#7a5e62; */
	color:#7b8583;
}
#dtag li,#blogrollnav ul,#dmeta ul,#dcomments ul,#drecent ul{
	display:inline-block;
	margin:0px 0px 0.7em 0px;
	width:95%;
}

#sidebar h2{
	padding:0.5em;
	margin:0.5em;
	border-bottom:1px solid #F51D34;
	background-color:#EFF3F6;	
	
	  color:#F51D34;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:15px;
}
/* #sidebar>ul ul{
	background-color:#699C93;
} */
#sidebar a:hover{
	color:#699C93;
}
#dtag a{
	color:#fff;
	display:inline-block;
	background-color:#15A287;
	opacity:0.7;
	padding:0.8em;
}
#dtag a:hover{
	color:#fff;
	opacity:1;
}
#wrap{
	width:85%;
	margin:0 auto;
}
#footer{
	text-align:center;
	width:100%;
	overflow:hidden;
	height:4em;
	line-height:4em;
	
	/* background-color:#915232;	 */
	background-color:#699C93;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:19px;
}
#footer p{
	/* color:#7b5c68; */
	color:#422725;
}
#footer a{
	/* color:#7b5c68; */
	color:#b00e1a;
}
#phead{
	margin-top:2em;
	padding:3em 2em;
	border-bottom:1px solid #E3DAD3;
	position:relative;
}





#comments{
	margin: 10px 10px 10px 10px;
	background-color:#EFF3F6; 
	position:relative;
}
#comments h3{
		padding:0.5em;
	margin:2em;
	display:inline-block;
	/* border-bottom:1px solid #F51D34; */
	font-weight:bold;
	font-size:15px;
	
	background-color:#D9534F;
	color:#fff;
	border-radius:3px;
}

#comments .children{
	margin-left:4em;
}

.comment{
	/* border-left:1px solid #F51D34; */
	border-top:1px solid #F51D34;
	position:relative;
	border-radius:5px;
}
.author_name{
	display:inline-block;
		  background-color:#D9534F;
		  color:#fff;
	 font-style:normal;
	font-variant:;
	font-weight:;
	font-size:14px;
	padding:0.3em;
	margin:0.3em;
	border-radius:3px;
}
.commentmetadata,.comment-edit-link{
	  color:#4299d8;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:9px;
}
.comment_content{
	margin:0.7em;
}
.comment-reply-link{
	position:absolute;
	right:4em;
	top:2em;
	
		display:inline-block;
		  background-color:#15a287;
		  color:#fff;
	 font-style:normal;
	font-variant:;
	font-weight:;
	font-size:14px;
	padding:0.7em;
	margin:0.3em;
	border-radius:3px;
}
.comment-reply-link:hover{
	opacity:0.7;
}

.comment_content .clearfix{
	display:inline-block;
	background-color:#e3dad3;
	padding:0.3em;
	border-radius:5px;
}
.comment_text,.comment_text p{
	display:inline-block;
	margin-left:2em;
	
	background-color:#D9534F;
	color:#fff;
	font-size:14px;
	padding:0.3em;
	 margin:0.3em; 
	border-radius:3px;
}

.gravatar{
	display:inline-block;
	margin-left:0.5em;
}


.comment_content{
	display:inline-block;
}



#commentform{
	border-top:1px solid #e3dad3;
}

#commentform li{
	color:#4299d8;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:14px;
	margin-left:1em;
	margin-bottom:1em;
}
#commentform a{
		display:inline-block;
		  background-color:#b433ff;
		  color:#fff;
	 font-style:normal;
	font-variant:;
	font-weight:;
	font-size:14px;
	padding:0.7em;
	margin:0.3em;
	border-radius:3px;
}
#commentform a:hover{
		opacity:0.7;
}


#commentform label{
		padding:0.5em;
	margin:0.5em;
	border-bottom:1px solid #F51D34;
	  color:#F51D34;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:15px;
}
#commentform input,#commentform textarea{
	outline:0px;
		background-color:#EFF3F6;/* 背景色透明 */
	 /* color:#dee3e2;  */
 color:#F51D34;	 
	 font-style:;
	font-variant:;
	font-weight:bold;
	font-size:19px;
			line-height:2em;
			border:1px solid #F51D34;
			border-radius:4px;
}
#commentform input:hover,#commentform textarea:hover{
		/* background-color:#383a33; *//* 背景色透明 */
		background-color:#fdfdfd;
}


#nav .children{
	display:none;
	position:absolute;
	z-index:10;
	/* background-color:#797d7b; */

}
.cat-item{
	background-color:#915232; 
 /* background-color:#c2101c;   */
	text-align:center;

}
.cat-item:hover{
	/* background-color:#bc7d75; */
	background-color:#8c8281;
}
.cat-item a{
	 /* color:#bdc7c6;  */
	 color:#dee3e2;  
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:19px;
			height:3em;
			line-height:3em;
			padding:0 2em 0 2em;
	/* color:#b0aca8; */
}
.post{
	margin: 10px 10px 10px 10px;
	background-color:#EFF3F6; 
	position:relative;
}
.post h2 a{
	 color:#f51d34;  
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:18px;
			height:3em;
			line-height:3em;
			padding:0 2em 0 2em;
}
.post h2 a:hover{
	 color:#f51d34;  
	 font-style:;
	font-variant:;
	font-weight:bold;
	font-size:18px;
			height:3em;
			line-height:3em;
			padding:0 2em 0 2em;
}
.posttags{
	display:inline-block;
	text-align:left;
	margin-left:3em;
	padding:3em 0em;

}
.posttags a{
	display:inline-block;
	color:#fff;
	background-color:#15A287;
	opacity:0.7;
	padding:0.3em;
	margin-left:0.5em;
}
.entry{
/* 	text-indent:2em;
	 color:#7b8583;  
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:15px;
			line-height:1.7em;
			padding:0 2em 0 2em; */
			
			margin:2em 4em;
}
blockquote, pre {

white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap:break-word;    /* ie */
word-break:break-all;
overflow:hidden;
}
.entry p{
	text-indent:2em;
	letter-spacing:0.1em;
	word-spacing:0.08em;
	line-height:1.8em;
	margin:0.5em 0;
}

blockquote {
/* background:#f9f9f9; */
background:#E3DAD3;
border-left:10px solid /* #ccc */#15A287;
margin:1.5em 10px;
padding:.5em 10px;
quotes:"\201C""\201D""\2018""\2019";
}
blockquote:before {
color:/* #ccc */#15A287;
content:open-quote;
font-size:4em;
line-height:.1em;
margin-right:.25em;
vertical-align:-.4em;
}
blockquote p {
display:inline;
}

.after-post{
			text-align:left;
				border-top:1px solid #E3DAD3;
}
.post-data{
	display:inline-block;
	position:absolute;
	right:3em;
	bottom:1em;
}
.post-data span,.post-categories a,.post-hot{
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:15px;
	color:#b0aca8;
}
.post-comments,.post-meta a{
		 font-style:;
	font-variant:;
	font-weight:;
	font-size:15px;
	color:#f51d34;
}

.post-categories{
	display:inline-block;
}
.post-categories li{
	display:inline-block;
}
.post-meta{
	display:inline-block;
}
.pagenav{
	display:inline-block;
	margin:-0.5em 0px 0.7em 0px;
	width:95%;
}
.ssaying{
	  color:#F51D34;
	 font-style:;
	font-variant:;
	font-weight:;
	font-size:13px;
}
.post-cat{
	position:absolute;
	right:3em;
	top:0.7em;
	
}
.post-cat a{
	
	display:inline-block;
	color:#fff;
	background-color:#FF6600;
	opacity:0.7;
	padding:0.3em;
	margin:0.2em;
}



.comment-author-link{
	color:#fff;
	padding:0.5em;
	background-color:#b37333;
	border-radius:5px;
	display:inline-block;
}
.comment-author-link a{
	color:#fff !important;
	display:inline-block;
	background-color:#b37333 !important;
}
.comment-author-link a:hover{
	opacity:0.7;
}
.dcommenter a:last-child{
		color:#fff !important;
	display:inline-block;
	padding:0.5em;
	background-color:#D9534F;
	border-radius:5px;
}
.comment-author-link+a{
		color:#fff !important;
	display:inline-block;
	padding:0.5em;
	background-color:#b433ff;
	border-radius:5px;
}
.recentcomments{
	border-bottom:0.5em solid #4a4a4a;
}



.navigation{
	width:100%;
	margin:0 auto;
	text-align:center;
}
.navigation a{
	color:#e3dad3;
	font-size:2em;
	padding:0.3em 1em;
	display:inline-block;
	background-color:#b0aca8;
	border-radius:5px;
}
.navigation a:hover{
	opacity:0.7;
}